<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productcode</key>
	<string>DCEE</string>
	<key>SERVERSECUREPORT</key>
	<string>8383</string>
	<key>MAC_DOMAIN</key>
	<string>macosgroup</string>
	<key>REMOTEOFFICEID</key>
	<string>1</string>
	<key>MSIRESTARTMANAGERCONTROL</key>
	<string>Disable</string>
	<key>MAC_AD_DOMAIN</key>
	<string>macosgroup</string>
	<key>SERVERNAME</key>
	<string>ProApp01.ncqa.org</string>
	<key>MSPNAME</key>
	<string>DC_MSP</string>
	<key>AGENTVERSION</key>
	<string>10.0.343.M</string>
	<key>ALLUSERS</key>
	<string>1</string>
	<key>SERVERIPADDRESS</key>
	<string>10.0.22.37</string>
	<key>CUSTOMERID</key>
	<string>1</string>
	<key>ENABLEREMOTEOFFICEMGMT</key>
	<string>no</string>
	<key>ENABLESILENT</key>
	<string>YES</string>
	<key>PERFORMPATCHSCAN</key>
	<string>yes</string>
	<key>SERVERPROTOCOL</key>
	<string>https</string>
	<key>ENABLEDISTRIBUTIONSERVER</key>
	<string>no</string>
	<key>AGENTPOLLINGINTERVAL</key>
	<string>2</string>
	<key>SERVERPORT</key>
	<string>8020</string>
	<key>CUSTOMERNAME</key>
	<string>DC_CUSTOMER</string>
	<key>USEJSON</key>
	<string>false</string>
	<key>PERFORMPOSTINSTALL</key>
	<string>yes</string>
	<key>REMOTEOFFICENAME</key>
	<string>Local Office</string>
	<key>ENABLEPROXY</key>
	<string>no</string>
	<key>SERVERSECIPADDRESS</key>
	<string>proapp01.ncqa.org</string>
	<key>SERVERFLATNAME</key>
	<string>ProApp01</string>
	<key>PERFORMASSETSCAN</key>
	<string>yes</string>
</dict>
</plist>